<%= render 'shared/errors', obj: @chef %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@chef, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-md-8 offset-md-2">
        <%= f.label :chefname, "Your name" %>
      </div>
      <div class="col-md-8 offset-md-2">
        <%= f.text_field :chefname, class: "form-control", placeholder: "Enter your name", autofocus: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-8 offset-md-2">
        <%= f.label :email, "Your email" %>
      </div>
      <div class="col-md-8 offset-md-2">
        <%= f.email_field :email, class: "form-control", placeholder: "Enter your email" %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-8 offset-md-2">
        <%= f.label :password, "Your password" %>
      </div>
      <div class="col-md-8 offset-md-2">
        <%= f.password_field :password, class: "form-control", placeholder: "Choose your password" %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-8 offset-md-2">
        <%= f.label :password_confirmation, "Confirm your password" %>
      </div>
      <div class="col-md-8 offset-md-2">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password" %>
      </div>
    </div>
    <div class="form-grou">
      <div class="col-md-8 offset-md-2">
        <%= f.submit "Create my account", class: "btn btn-danger btn-lg" %>
      </div>
    </div>
    <% end %>
    <div class="center col-md-8 offset-md-2">
      [<%= link_to "Cancel signup and return to recipes", recipes_path %>]
    </div>
  </div>
</div>
