<h1 class= "center col-md-8 offset-md-2">Meet our chefs</h1>
<hr/>

<div class="col-sm-6 offset-3 ">
  <%= will_paginate %>
  <% @chefs.each do |chef| %>
    <ul class="listing">
      <div class="card cards-chef">
        <div >
          <li class="center chef-index-photo"><%= link_to cl_image_tag(chef.photo_chef), chef_path(chef) %></li>
          <li class="chef-title center"><p><%= link_to chef.chefname.capitalize, chef_path(chef) %></p></li>
          <li class="chef-title center "><%= pluralize(chef.recipes.count, "recipe") if chef.recipes %></li>
          <% if logged_in? && current_chef.admin? && !chef.admin? %>
            <li><%= link_to "Delete this chef", chef_path(chef), method: :delete,
                   data: {confirm: "Are you sure you want to delete this chef and all associated recipes?"} %></li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate %>
</div>
