<h1 class= "center col-md-8 offset-md-2">Meet <%= @chef.chefname %></h1>
<hr/>

<div class="row">
  <div class="col-md-4 offset-4 center">
    <%= gravatar_for @chef, size: 150 %>
  </div>
</div>

<h4 align="center"><%= @chef.chefname %>'s recipes</h4>
<%= will_paginate @chef_recipes %>
<%= render 'recipes/recipe', obj: @chef_recipes %>
<%= will_paginate @chef_recipes %>

