<h1 class= "center col-md-8 offset-md-2">Meet <%= @chef.chefname %></h1>
<hr/>

<div class="row">
  <div class="col-md-4 offset-4 center">
    <%= cl_image_tag @chef.photo_chef, height: 150, width: 200, crop: :fill, alt: "Chef profile's picture" %>
  </div>
</div>
<% if @chef.recipes.count != 0 %>
  <h4 align="center"><%= @chef.chefname %>'s recipes</h4>
  <%= will_paginate @chef_recipes %>
  <%= render 'recipes/recipe', obj: @chef_recipes %>
  <%= will_paginate @chef_recipes %>
<% else %>
  <h4 align="center">No recipes yet</h4>
  <% end %>

