<%= render 'shared/errors', obj: @recipe %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-md-8 offset-md-2">
        <%= f.label :name %>
      </div>
      <div class="col-md-8 offset-md-2">
        <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-md-8 offset-md-2">
        <%= f.label :description %>
      </div>
      <div class="col-md-8 offset-md-2">
        <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter steps of the recipe" %>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <p>Choose the <strong>main </strong>ingredients</p>
          <hr/>
          <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |check| %>
          <% check.label(class: "input_checkbox label_ingredient") {check.check_box(class: "input_checkbox") + check.text.capitalize} %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8 offset-md-2">
        <%= f.file_field :photo %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8 offset-md-2">
        <%= f.submit class: "btn btn-danger btn-lg" %>
      </div>
    </div>
    <% end %>
    <div class="center col-md-8 offset-md-2">
      [<%= link_to "Cancel request and return to recipes", recipes_path %>]
    </div>
  </div>
</div>
