<h1 align="center"><%= @recipe.name.capitalize %></h1>
<hr/>
<div class="container col-md-12 show-page">
  <h4 class="show-description col-md-12 "><strong>Description: </strong></h4>
  <%= simple_format(@recipe.description.capitalize) %>
  <% if @recipe.ingredients.any? %>
  <p>Ingredients: <%= render @recipe.ingredients %></p>
  <% end %>
  <div class="center col-md-3 offset-9">
    <p class="center">Created <%= time_ago_in_words(@recipe.created_at) %> ago by <strong><%= @recipe.chef.chefname.upcase %></strong>
    </p>
    <p><%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %></p>
  </div>
  <div class="recipe-actions">
    <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
      <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "btn btn-dark btn-lg" %>
      <%= link_to "Delete this recipe", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure you want to delete this recipe?"}, class: "btn btn-danger btn-lg" %>
    <% end %>
    <%= link_to "Return to recipes", recipes_path, class: "btn btn-dark btn-lg" %>
  </div>
</div>
