<h1 align="center"><%= @recipe.name.capitalize %></h1>
<hr/>
<div class="container col-md-12 show-page">
  <h4 class="show-description col-md-12 "><strong>Description: </strong></h4>
  <%= simple_format(@recipe.description.capitalize) %>
  <div class="center col-md-3 offset-9">
    <p class="center">Created <%= time_ago_in_words(@recipe.created_at) %> ago by <strong><%= @recipe.chef.chefname.upcase %></strong>
    </p>
    <p><%= link_to gravatar_for(@recipe.chef), recipes_path%></p>
  </div>
  <div class="recipe-actions">
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "btn btn-danger btn-lg" %>
  </div>
</div>
